# Local development ignore rules
debug.log
.DS_Store
screenshots/development/

# Playwright E2E secure cache & report folders
.env
playwright/.auth/
test-results/
playwright-report/
blob-report/
playwright/.cache/
